*{
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  /* border: 1px solid red; */
  line-height: 1;
  color: gold;
  font-family: Luckiest Guy;
  color: gold;
  /* background: gray; */
}

body {
   text-align:center;
   /* background-image: url('../assets/cloudsbg.png'); */
   /* background-size: 100px; */
   background: radial-gradient(black,
      black,
      black,
      black, gold);
   height: 100vh;
}

#title{
  margin-top: 10px;
  font-size: 70px;
  padding: 10px;
  display: inline-block;
  height: 49px;
}

.sidebar{
  height: auto;
  width: 300px;
  vertical-align: top;
  margin-top: 30px;
}

.ilb{
  display: inline-block;
}

.il{
  display: inline;
}

.score{

  font-size: 20px;
  padding: 10px;
}

.fa{
  font-size: 32px;
}

#view {

}
